
 
.activity-page {
	.activity-item {
		position: relative;
		background-color: #ebebeb;
		border-radius: 8px;
		margin: 8px;
		.activity-code{
			position: absolute;
			top: 8px;
			right: 8px;
		}
	}
	.qr-code-wrap {
		margin-top: 100px;
	}
	.at-float-layout__container {
		text-align: center;
	}
}
 